<form action="/principal" method="post">
  <input type="text" name="txtMensaje" value="{{txtMensaje}}">
  <input type="submit" name="btnRegistrar" value="Registrar">
</form>
<div>
  <ul>
    {{#each msg}}
      <li>
        {{this}}prueba
      </li>
      {{/each}}
  </ul>

</div>
